/archive/
/bugs/
/nbproject/
/plugins/
/translatorSettingsBackup.ini
/pluginDatabse_is.xml
/error.log
/pluginDatabse_tr.xml
/pluginDatabse_nl.xml
/manifest.mf
/pluginDatabse_de.xml
/error.log.2.lck
/pluginDatabse_pt.xml
/version.txt
/build.xml
/cs_s9y_translations.zip
/pluginDatabse_hu.xml
/error.log.1
/translatorSettings.ini
/error.log.2
/pluginDatabse_cs.xml
/pluginDatabse_cn.xml
/error.log.lck
/plugins_translated/